<link rel="stylesheet" href="styles.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Pacifico&family=Roboto+Mono&display=swap" rel="stylesheet">


<%-include("partials/header")-%>


  <h2> Welcome to KKMSOFT TECHNOLOGIES. </h2><br><br><h3>Please register to know more about our products.</h3>





<%-include("partials/footer")-%>
